ani.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="brand-logo ani-logo">
          <div></div>
        </div>
        <div class="links">
          <!-- a(href="#")-->
          <!--     span презентация pdf-->
          <!-- a(href="#")-->
          <!--     span медиакит--><a href="http://www.ani.ru/" target="_blank"><span>www.ani.ru</span></a>
        </div>
        <div class="text crtext"><span class="text-black bold">«ANI» </span><span>– это детское пространство, сказочный анимационный мир за телеэкраном, населенный любимыми героями и персонажами. </span>
          <p><span>Основная аудитория телеканала: девочки 6 – 12 лет: сетка программы учитывает их интересы и особенности телесмотрения. При этом большая часть контента подходит для совместного просмотра с родителями.</span></p>
          <p><span>Ежедневно в эфире телеканала самые популярные хиты зарубежной анимации: «Смурфики», «Свинка Пеппа», «Angry Birds» и многие другие.</span></p>
          <p><span>Слоган канала: «ANI – твой собственный мир»</span></p>
        </div>
        <div class="title-big">«ANI» ЭТО:</div>
        <div class="channel-ul">
          <ul>
            <li>
              <p><span class="text-channel-red">НОВИНКА: </span><span>ЗАПУСК В АВГУСТЕ 2015 ГОДА</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">БОЛЕЕ 700 ЧАСОВ ОРИГИНАЛЬНОГО КОНТЕНТА</span><span>, ЗАПЛАНИРОВАННОГО К ПОКАЗУ В 2015г.</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">ЗНАЧИТЕЛЬНАЯ МАРКЕТИНГОВАЯ ПОДДЕРЖКА  </span><span>КАНАЛА С ИСПОЛЬЗОВАНИЕМ МЕДИА-РЕСУРСОВ ВГТРК И ПАРТНЕРОВ.</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">ЯРКИЙ УНИКАЛЬНЫЙ СТИЛЬ </span><span>И ПРИВЛЕКАТЕЛЬНОЕ ДЛЯ ЗРИТЕЛЕЙ ОФОРМЛЕНИЕ КАНАЛА.</span></p>
            </li>
          </ul>
        </div>
        <div class="video">
          <div class="big-vid">
            <iframe iframe="iframe" width="95%" height="100%" src="https://www.youtube.com/embed/0rglGFIm8OA" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <div class="contact-info">
          <p> <span>ПО ВОПРОСАМ МАРКЕТИНГА И КОНТЕНТА: </span><a href="mailto:sales@0plusmedia.ru" class="email">ANI@0PLUSMEDIA.RU</a><span>,</span><a href="tel:+74959887337" class="phone">+7-495-988-73-37</a></p>
          <p><span>ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  </span><a href="mailto:contact@0plusmedia.ru" class="email">CONTACT@SIGNELMEDIA.RU</a><span>,</span><a href="tel:+74956209836" class="phone">+7-495-620-98-36</a></p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/ani.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .brand-logo.ani-logo
                    div
                .links
                    // a(href="#")
                    //     span презентация pdf
                    // a(href="#")
                    //     span медиакит
                    a(href="http://www.ani.ru/" target="_blank")
                        span www.ani.ru
                .text.crtext
                    span.text-black.bold «ANI» 
                    span – это детское пространство, сказочный анимационный мир за телеэкраном, населенный любимыми героями и персонажами. 
                    p
                        span Основная аудитория телеканала: девочки 6 – 12 лет: сетка программы учитывает их интересы и особенности телесмотрения. При этом большая часть контента подходит для совместного просмотра с родителями.
                    p
                        span Ежедневно в эфире телеканала самые популярные хиты зарубежной анимации: «Смурфики», «Свинка Пеппа», «Angry Birds» и многие другие.
                    p
                        span Слоган канала: «ANI – твой собственный мир»
                .title-big «ANI» ЭТО:
                .channel-ul
                    ul
                        li
                            p
                                span.text-channel-red НОВИНКА: 
                                span ЗАПУСК В АВГУСТЕ 2015 ГОДА
                        li
                            p
                                span.text-channel-red БОЛЕЕ 700 ЧАСОВ ОРИГИНАЛЬНОГО КОНТЕНТА
                                span , ЗАПЛАНИРОВАННОГО К ПОКАЗУ В 2015г.
                        li
                            p
                                span.text-channel-red ЗНАЧИТЕЛЬНАЯ МАРКЕТИНГОВАЯ ПОДДЕРЖКА  
                                span КАНАЛА С ИСПОЛЬЗОВАНИЕМ МЕДИА-РЕСУРСОВ ВГТРК И ПАРТНЕРОВ.
                        li
                            p
                                span.text-channel-red ЯРКИЙ УНИКАЛЬНЫЙ СТИЛЬ 
                                span И ПРИВЛЕКАТЕЛЬНОЕ ДЛЯ ЗРИТЕЛЕЙ ОФОРМЛЕНИЕ КАНАЛА.
                .video
                    .big-vid
                        iframe(iframe width="95%" height="100%" src="https://www.youtube.com/embed/0rglGFIm8OA" frameborder="0" allowfullscreen)
                .contact-info
                    p 
                        span ПО ВОПРОСАМ МАРКЕТИНГА И КОНТЕНТА: 
                        a.email(href="mailto:sales@0plusmedia.ru") ANI@0PLUSMEDIA.RU
                        span ,
                        a.phone(href="tel:+74959887337") +7-495-988-73-37
                    p
                        span ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  
                        a.email(href="mailto:contact@0plusmedia.ru") CONTACT@SIGNELMEDIA.RU
                        span ,
                        a.phone(href="tel:+74956209836") +7-495-620-98-36
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade
