src/jade/contacts.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big КОНТАКТЫ ООО "НОЛЬ ПЛЮС МЕДИА"
                div.contacts-page
                
                    
                            
                    .address
                        p
                            span Адрес: 
                            span 127051, Москва, Большой Каретный переулок, д. 22, строение 4.
                        p
                            span телефон: 
                            a.phone(href="tel:+74959887337") +7 495 988–73–37
                        p
                            span Электронная почта: 
                            a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            
                    #YMapsID.contacts-map
                        //script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Erk58DJ5MgmkRk0P3sp4uQ6RBtVbf7Gw")
                    //iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.0911031729506!2d37.61654187476693!3d55.77270725312005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6b112ff131%3A0x642e853896e14d8d!2z0JHQvtC70YzRiNC-0Lkg0JrQsNGA0LXRgtC90YvQuSDQv9C10YAuLCAyMtGBNCwg0JzQvtGB0LrQstCwLCAxMjcwNTE!5e0!3m2!1sru!2sru!4v1438621625956" frameborder="0" style="border:0" allowfullscreen)
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade        

contacts.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <p class="title-big">КОНТАКТЫ ООО "НОЛЬ ПЛЮС МЕДИА"</p>
        <div class="contacts-page">
          <div class="address">
            <p><span>Адрес: </span><span>127051, Москва, Большой Каретный переулок, д. 22, строение 4.</span></p>
            <p><span>телефон: </span><a href="tel:+74959887337" class="phone">+7 495 988–73–37</a></p>
            <p><span>Электронная почта: </span><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></p>
          </div>
          <div id="YMapsID" class="contacts-map">
            <!--script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Erk58DJ5MgmkRk0P3sp4uQ6RBtVbf7Gw")-->
          </div>
          <!--iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.0911031729506!2d37.61654187476693!3d55.77270725312005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6b112ff131%3A0x642e853896e14d8d!2z0JHQvtC70YzRiNC-0Lkg0JrQsNGA0LXRgtC90YvQuSDQv9C10YAuLCAyMtGBNCwg0JzQvtGB0LrQstCwLCAxMjcwNTE!5e0!3m2!1sru!2sru!4v1438621625956" frameborder="0" style="border:0" allowfullscreen)-->
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
