distribution.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <p class="title-big">Дистрибуция контента</p><a class="mediakit"><span>МЕДИАКИТ</span></a>
        <div class="text">Компания «0+Media» занимается дистрибуцией медиаконтента в России и по всему миру. Партнерская сеть включает эфирные и кабельные телеканалы, а также цифровые сервисы, доставляющие контент на домашние и мобильные устройства.
          <p>В лицензионную медиатеку «0+Media» входят несколько тысяч эпизодов, десятков телепрограмм и анимационных сериалов, разработанных специально для детской аудитории холдингом ВГТРК.</p>
        </div>
        <div class="projects">
          <p class="text-blue text-upper lic-spec text-bold">Включая такие проекты как:</p>
          <div class="distribution-imgs">
            <div>
              <p>аркадий паравозов спешит напомощь</p>
              <div class="arcadiy"></div>
            </div>
            <div>
              <p>ми-ми-мишки</p>
              <div class="mimimishki"></div>
            </div>
            <div>
              <p>бумажки</p>
              <div class="papers"></div>
            </div>
            <div class="clear"></div>
            <div class="list">
              <ul>
                <li><span>академия художеств</span></li>
                <li><span>говорим без ошибок</span></li>
                <li><span>навигатор. апгрейт</span></li>
              </ul>
              <ul>
                <li><span>почемучка</span></li>
                <li><span>какое изобразие!</span></li>
                <li><span>звездная команда</span></li>
              </ul>
              <ul>
                <li><span>пойми меня</span></li>
                <li><span>забавные факты</span></li>
              </ul>
            </div>
          </div>
          <!-- ul-->
          <!--     li-->
          <!--         span академия художеств-->
          <!--     li-->
          <!--         span говорим без ошибок-->
          <!--     li-->
          <!--         span навигатор. апгрейт-->
          <!--     li-->
          <!--         span почемучка-->
          <!--     li-->
          <!--         span какое изобразие!-->
          <!--     li-->
          <!--         span звездная команда-->
          <!--     li-->
          <!--         span пойми меня-->
          <!--     li-->
          <!--         span забавные факты-->
          <p>С более детальным списком проектов, можно ознакомиться здесь: <a href="#">адрес</a></p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/distribution.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big Дистрибуция контента
                a.mediakit
                    span МЕДИАКИТ
                .text Компания «0+Media» занимается дистрибуцией медиаконтента в России и по всему миру. Партнерская сеть включает эфирные и кабельные телеканалы, а также цифровые сервисы, доставляющие контент на домашние и мобильные устройства.
                    p В лицензионную медиатеку «0+Media» входят несколько тысяч эпизодов, десятков телепрограмм и анимационных сериалов, разработанных специально для детской аудитории холдингом ВГТРК.
                .projects
                    p.text-blue.text-upper.lic-spec.text-bold Включая такие проекты как:
                    div.distribution-imgs
                        div
                            p аркадий паравозов спешит напомощь
                            .arcadiy
                        div
                            p ми-ми-мишки
                            .mimimishki
                        div
                            p бумажки
                            .papers
                        .clear
                        .list
                            ul
                                li
                                    span академия художеств
                                li
                                    span говорим без ошибок
                                li
                                    span навигатор. апгрейт
                            ul
                                li
                                    span почемучка
                                li
                                    span какое изобразие!
                                li
                                    span звездная команда
                            ul
                                li
                                    span пойми меня
                                li
                                    span забавные факты
                    // ul
                    //     li
                    //         span академия художеств
                    //     li
                    //         span говорим без ошибок
                    //     li
                    //         span навигатор. апгрейт
                    //     li
                    //         span почемучка
                    //     li
                    //         span какое изобразие!
                    //     li
                    //         span звездная команда
                    //     li
                    //         span пойми меня
                    //     li
                    //         span забавные факты
                    p С более детальным списком проектов, можно ознакомиться здесь: 
                        a(href="#") адрес
                
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  
