index.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content maincontent">
        <div class="text"><span class="text-black bold">«0+ MEDIA» </span><span>предлагает комплексный подход в продвижении товаров и услуг для детей и родителей, включающий рекламные возможности, спонсорские спецпроекты и лицензирование анимационных брендов.</span></div>
        <div class="channels">
          <p class="title-big">ТЕЛЕКАНАЛЫ</p>
          <div id="slider-channels" class="knf-slider animated work-mode-on">
            <div class="parrot"></div>
            <div id="slider-right1" class="slider-arrow-right-black"></div>
            <div id="slider-channels-viewport">
              <ul class="channells-slides slides">
                <li style="background-image: url('/templates/corporate/images/slider_title_mult_back_gr.jpg');" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back_gr.jpg)';" class="channels-slide slide1 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_mult_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_mult.png');" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_mama_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back_gr.jpg)';" class="channels-slide slide2 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_mama_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_mama.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_carusel_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back_gr.jpg)';" class="channels-slide slide3 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_carusel_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_carusel.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_ani_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back_gr.jpg)';" class="channels-slide slide4 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_ani_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_ani.png')" class="slide_title"></div></a></li>
              </ul>
              <div class="slider-arrow-left"></div>
              <div class="slider-arrow-right"></div>
            </div>
            <div id="slider-left1" class="slider-arrow-left-black"></div>
          </div>
        </div>
        <div class="brands">
          <p class="title-big">БРЕНДЫ</p>
          <div id="slider-brands" class="knf-slider animated work-mode-on">
            <div id="slider-right2" class="slider-arrow-right-blackb"></div>
            <div id="slider-brands-viewport">
              <ul class="brand-slides slides">
                <li style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';" class="channels-slide slide5 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';" class="channels-slide slide6 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';" class="channels-slide slide7 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_papers.png')" class="slide_title"></div></a></li>
                <li style="background: #DCDCDC" class="channels-slide slide8 slide"><a href="#">
                    <div style="background: #DCDCDC"></div>
                    <div style="background-image: url('/templates/corporate/images/coming-soon.png')" class="slide_title"></div></a></li>
              </ul>
              <div class="slider-arrow-left"></div>
              <div class="slider-arrow-right"></div>
            </div>
            <div id="slider-left2" class="slider-arrow-left-blackb"></div>
          </div>
        </div>
        <div class="setka"><a href="#" class="one">
            <div class="img img_distribution"></div>
            <div><span>Дистрибуция контента</span>
              <p>Краткое описание про раздел и что мы предлагаем, ввиде подсказки</p>
            </div></a>
          <p class="clear"></p><a href="#" class="two">
            <div class="img img-a"></div>
            <div><span>Реклама</span>
              <p>Краткое описание про рекламу и что мы предлагаем, ввиде подсказки</p>
            </div></a>
          <p class="clear specIpad"></p><a href="#" class="three">
            <div class="img img-special"></div>
            <div><span>Спецпроекты</span>
              <p>Краткое описание про раздел и что мы предлагаем, ввиде подсказки</p>
            </div></a>
          <p class="clear"></p><a href="#" class="four">
            <div class="img a-license"></div>
            <div><span>Лицензия</span>
              <p>Краткое описание про раздел и что мы предлагаем, ввиде подсказки</p>
            </div></a>
        </div>
      </div>
      <!--include ./blocks/leftmenu.jade        -->
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/index.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content.maincontent
                .text
                    span.text-black.bold «0+ MEDIA» 
                    span предлагает комплексный подход в продвижении товаров и услуг для детей и родителей, включающий рекламные возможности, спонсорские спецпроекты и лицензирование анимационных брендов.
                .channels
                    p.title-big ТЕЛЕКАНАЛЫ
                    #slider-channels.knf-slider.animated.work-mode-on
                        .parrot
                        .slider-arrow-right-black#slider-right1
                        #slider-channels-viewport
                            ul(class="channells-slides slides")
                                    
                                li(class="channels-slide slide1 slide" style="background-image: url('/templates/corporate/images/slider_title_mult_back_gr.jpg');" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mult_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mult_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mult.png');")
                                li(class="channels-slide slide2 slide" style="background-image: url('/templates/corporate/images/slider_title_mama_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mama_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mama_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mama.png')")
                                li(class="channels-slide slide3 slide" style="background-image: url('/templates/corporate/images/slider_title_carusel_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_carusel_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_carusel_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_carusel.png')")
                                li(class="channels-slide slide4 slide" style="background-image: url('/templates/corporate/images/slider_title_ani_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_ani_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_ani_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_ani.png')")

                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-black#slider-left1
                .brands
                    p.title-big БРЕНДЫ
                    #slider-brands.knf-slider.animated.work-mode-on
                        .slider-arrow-right-blackb#slider-right2
                        #slider-brands-viewport
                            ul(class="brand-slides slides")
                                li(class="channels-slide slide5 slide" style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')")
                                li(class="channels-slide slide6 slide" style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')")
                                li(class="channels-slide slide7 slide" style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_papers.png')")
                                li(class="channels-slide slide8 slide" style="background: #DCDCDC")
                                    a(href="#")
                                        div(style="background: #DCDCDC")
                                        .slide_title(style="background-image: url('/templates/corporate/images/coming-soon.png')")
                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-blackb#slider-left2
                div.setka
                    a.one(href="#")
                        .img.img_distribution
                        div
                            span Дистрибуция контента
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
                    p.clear
                    a.two(href="#")
                        .img.img-a
                        div
                            span Реклама
                            p Краткое описание про рекламу и что мы предлагаем, ввиде подсказки
                    p.clear.specIpad
                    a.three(href="#")
                        .img.img-special
                        div
                            span Спецпроекты
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
                    p.clear
                    a.four(href="#")
                        .img.a-license
                        div
                            span Лицензия
                            p Краткое описание про раздел и что мы предлагаем, ввиде подсказки
            //include ./blocks/leftmenu.jade        
            
        include ./blocks/footer.jade
