src/jade/license.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big продажа лицензий
                a.mediakit
                    span ПРЕЗЕНТАЦИЯ PDF
                .text Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.
                    p В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.
                    p «О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования следующие анимационные бренды:
                .projects-license
                    div
                        div
                            p.text-blue  аркадий паравозов
                            .arcadiy
                            .ap
                            .girl
                            .boy
                            a(href="#") страница бренда
                        div
                            p.text-blue  ми-ми-мишки
                            .mimimishki
                            .bear-brown
                            .bear-white
                            .chicken
                            a(href="#") страница бренда
                        div
                            p.text-blue  бумажки
                            .papers
                            .rabbit
                            .bird
                            .olen
                            a(href="#") страница бренда
                        .clear
                    .clear
                    p.text-blue.text-upper.lic-spec Бренды доступны для лицензирования в следующих категориях:
                    ul
                        li
                            span одежда
                        li
                            span игрушки
                        li
                            span канцелярия
                        li
                            span косметика
                    ul
                        li
                            span обувь
                        li
                            span товары для дома
                        li
                            span продукты питания
                        li
                            span товары для праздника
                    p Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.
                        span Узнать больше о лицензионных возможностях:  
                            a(href="#") адрес
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  

license.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <p class="title-big">продажа лицензий</p><a class="mediakit"><span>ПРЕЗЕНТАЦИЯ PDF</span></a>
        <div class="text">Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.
          <p>В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.</p>
          <p>«О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования следующие анимационные бренды:</p>
        </div>
        <div class="projects-license">
          <div>
            <div>
              <p class="text-blue"> аркадий паравозов</p>
              <div class="arcadiy"></div>
              <div class="ap"></div>
              <div class="girl"></div>
              <div class="boy"></div><a href="#">страница бренда</a>
            </div>
            <div>
              <p class="text-blue"> ми-ми-мишки</p>
              <div class="mimimishki"></div>
              <div class="bear-brown"></div>
              <div class="bear-white"></div>
              <div class="chicken"></div><a href="#">страница бренда</a>
            </div>
            <div>
              <p class="text-blue"> бумажки</p>
              <div class="papers"></div>
              <div class="rabbit"></div>
              <div class="bird"></div>
              <div class="olen"></div><a href="#">страница бренда</a>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <p class="text-blue text-upper lic-spec">Бренды доступны для лицензирования в следующих категориях:</p>
          <ul>
            <li><span>одежда</span></li>
            <li><span>игрушки</span></li>
            <li><span>канцелярия</span></li>
            <li><span>косметика</span></li>
          </ul>
          <ul>
            <li><span>обувь</span></li>
            <li><span>товары для дома</span></li>
            <li><span>продукты питания</span></li>
            <li><span>товары для праздника</span></li>
          </ul>
          <p>Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.<span>Узнать больше о лицензионных возможностях:  <a href="#">адрес</a></span></p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
