src/jade/lp.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big ЛИЦЕНЗИОННАЯ ПРОГРАММА 0+ MEDIA
                
                .text
                    p Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.
                    p В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.
                    
                    p «О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования  следующие анимационные бренды:

                .brands(style="margin:40px 0")
                    #slider-brands.knf-slider
                        .slider-arrow-right-blackb#slider-right2
                        #slider-brands-viewport
                            ul(class="brand-slides slides")
                                li(class="channels-slide slide5 slide" style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')")
                                li(class="channels-slide slide6 slide" style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')")
                                li(class="channels-slide slide7 slide" style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';")
                                    a(href="#")
                                        .hover-div(style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')")
                                        .slide_title(style="background-image: url('/templates/corporate/images/slider_title_papers.png')")
                                li(class="channels-slide slide8 slide" style="background: #DCDCDC")
                                    a(href="#")
                                        div(style="background: #DCDCDC")
                                        .slide_title(style="background-image: url('/templates/corporate/images/coming-soon.png')")
                            .slider-arrow-left
                            .slider-arrow-right
                        .slider-arrow-left-blackb#slider-left2
                .text(style="margin-bottom:40px")        
                    p Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.
                    p По вопросам приобретения лицензии:   
                        a(href="mailto:sales@0plusmedia.Ru") sales@0plusmedia.ru
                        | , +7-495-988-73-37
                
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  

lp.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <p class="title-big">ЛИЦЕНЗИОННАЯ ПРОГРАММА 0+ MEDIA</p>
        <div class="text">
          <p>Компания «О+ Media» активно развивает лицензионную бизнес-модель как на российском рынке, так и за его пределами.</p>
          <p>В основе отношений «О+ Media» с лицензиатами лежат требования к высокому качеству лицензионной продукции, этика деловых отношений и контрактные обязательства.</p>
          <p>«О+ Media» стремится к гармоничному развитию лицензионного бизнеса, опираясь в своей работе на взаимовыгодное сотрудничество с партнёрами, мы предлагаем для лицензирования  следующие анимационные бренды:</p>
        </div>
        <div style="margin:40px 0" class="brands">
          <div id="slider-brands" class="knf-slider">
            <div id="slider-right2" class="slider-arrow-right-blackb"></div>
            <div id="slider-brands-viewport">
              <ul class="brand-slides slides">
                <li style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_arcadiy_back_gr.jpg)';" class="channels-slide slide5 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_arcadiy_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_arcadiy.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_mimimishki_back_gr.jpg)';" class="channels-slide slide6 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_mimimishki_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_mimimishki.png')" class="slide_title"></div></a></li>
                <li style="background-image: url('/templates/corporate/images/slider_title_papers_back_gr.jpg')" onmouseover="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back.jpg)';" onmouseout="this.style.backgroundImage='url(/templates/corporate/images/slider_title_papers_back_gr.jpg)';" class="channels-slide slide7 slide"><a href="#">
                    <div style="background-image: url('/templates/corporate/images/slider_title_papers_back.jpg')" class="hover-div"></div>
                    <div style="background-image: url('/templates/corporate/images/slider_title_papers.png')" class="slide_title"></div></a></li>
                <li style="background: #DCDCDC" class="channels-slide slide8 slide"><a href="#">
                    <div style="background: #DCDCDC"></div>
                    <div style="background-image: url('/templates/corporate/images/coming-soon.png')" class="slide_title"></div></a></li>
              </ul>
              <div class="slider-arrow-left"></div>
              <div class="slider-arrow-right"></div>
            </div>
            <div id="slider-left2" class="slider-arrow-left-blackb"></div>
          </div>
        </div>
        <div style="margin-bottom:40px" class="text">       
          <p>Мы оказываем комплексную поддержку в разработке лицензионного продукта, выпуска продукта на потребительский рынок, формирование рекламных и маркетинговых кампаний и поддержку в ритейле, крупномасштабные эфирные кампании на каналах ВГТРК.</p>
          <p>По вопросам приобретения лицензии:   <a href="mailto:sales@0plusmedia.Ru">sales@0plusmedia.ru</a>, +7-495-988-73-37</p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
