src/jade/mimimishki.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .mimimishki-content
                    .serial-logo.mimimishki-logo
                        div
                    //.links2
                        span.hide ПРЕЗЕНТАЦИЯ  
                            a(href="#") PDF
                            |  /      
                            a(href="#") PPT
                        a(href="#")
                            span www.multkanal.ru
                    .left-column
                        .right-column
                            .blank
                                .text-card
                                    p Анимация: 
                                        span.text-blue.text-upper.text-bold 3D HD
                                    p Эпизоды: 
                                        span.text-blue.text-bold 52* 5:30 min
                                    p Статус: 
                                        span.text-blue.text-bold в производстве
                                    p Дата запуска: 
                                        span.text-blue.text-bold 2015
                                    p Трансляция
                                        p.text-blue.text-bold 
                                            a(href="#") Мульт
                                            |  
                                            a(href="#") Карусель
                    
                        p.text Проект «Ми-Ми-Мишки» рассказывает юным зрителям о веселых приключениях двух забавных медвежат – Кеши и Тучки. Кеша – бурый, заводной и активный мишка, который всегда ищет приключений и попадает в различные неприятности. Кеша очень любит изобретать новые гаджеты, которые, к сожалению, не всегда работают хорошо и часто  обращается за дружеской поддержкой к своему другу, белому  мишке – Тучке. Тучка гость с Севера, который очень любит  природу, традиции всегда спокойный и очень неторопливый.  Тучка всегда приходит на выручке Кеше, и герои «Ми-ми-мишек» всегда находят выход из любой ситуации.
                        .video.video-player
                            ul.hide
                                li 
                                    a(href="https://www.youtube.com/embed/-zCFXAumGg4")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/wn4kPHMr8tg")
                                
                                li 
                                    a(href="https://www.youtube.com/embed/P0kp6ZkAiwI")
                                    
                            div.big-vid
                                iframe(iframe width="100%" height="100%" src="" frameborder="0" allowfullscreen)
                            div
                                div.one
                                div.two
                                div.three
                            
                        p.text По вопросам приобретения видеоконтента «Ми-ми-мишки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru
                            |  , +7-495-988-73-37
                        p.text Подробнее о дистрибуции контента 0+ MEDIA 
                            a(href="#") здесь
                            
                        p.title-big ЛИЦЕНЗИРОВАНИЕ БРЕНДА «Ми-ми-мишки»
                        p.text Компания «0+ Media» представляет проект «Ми-ми-мишки» для лицензирования в следующий категориях потребительских товаров - одежда, обувь, игрушки, товары для дома, канцелярия, продукты питания и косметика, издательская продукция и т.д.

                        p.text По вопросам приобретения лицензии на бренд «Ми-ми-мишки»: 
                            a(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru 
                            |  , +7-495-988-73-37

                        p.text Подробнее о Лицензионных возможностях 0+ MEDIA  
                            a(href="#") здесь
                            
                    
                    
                    
                    
                    
                    
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  

mimimishki.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="mimimishki-content">
          <div class="serial-logo mimimishki-logo">
            <div></div>
          </div>
          <!--.links2
          span.hide ПРЕЗЕНТАЦИЯ  
              a(href="#") PDF
              |  /      
              a(href="#") PPT
          a(href="#")
              span www.multkanal.ru
          -->
          <div class="left-column">
            <div class="right-column">
              <div class="blank">
                <div class="text-card">
                  <p>Анимация: <span class="text-blue text-upper text-bold">3D HD</span></p>
                  <p>Эпизоды: <span class="text-blue text-bold">52* 5:30 min</span></p>
                  <p>Статус: <span class="text-blue text-bold">в производстве</span></p>
                  <p>Дата запуска: <span class="text-blue text-bold">2015</span></p>
                  <p>Трансляция
                    <p class="text-blue text-bold"> <a href="#">Мульт</a> <a href="#">Карусель</a></p>
                  </p>
                </div>
              </div>
            </div>
            <p class="text">Проект «Ми-Ми-Мишки» рассказывает юным зрителям о веселых приключениях двух забавных медвежат – Кеши и Тучки. Кеша – бурый, заводной и активный мишка, который всегда ищет приключений и попадает в различные неприятности. Кеша очень любит изобретать новые гаджеты, которые, к сожалению, не всегда работают хорошо и часто  обращается за дружеской поддержкой к своему другу, белому  мишке – Тучке. Тучка гость с Севера, который очень любит  природу, традиции всегда спокойный и очень неторопливый.  Тучка всегда приходит на выручке Кеше, и герои «Ми-ми-мишек» всегда находят выход из любой ситуации.</p>
            <div class="video video-player">
              <ul class="hide">
                <li> <a href="https://www.youtube.com/embed/-zCFXAumGg4"></a></li>
                <li> <a href="https://www.youtube.com/embed/wn4kPHMr8tg"></a></li>
                <li> <a href="https://www.youtube.com/embed/P0kp6ZkAiwI"></a></li>
              </ul>
              <div class="big-vid">
                <iframe iframe="iframe" width="100%" height="100%" src="" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <div>
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
              </div>
            </div>
            <p class="text">По вопросам приобретения видеоконтента «Ми-ми-мишки»: <a href="mailto:sales@0plusmedia.ru">sales@0plusmedia.ru</a> , +7-495-988-73-37</p>
            <p class="text">Подробнее о дистрибуции контента 0+ MEDIA <a href="#">здесь</a></p>
            <p class="title-big">ЛИЦЕНЗИРОВАНИЕ БРЕНДА «Ми-ми-мишки»</p>
            <p class="text">Компания «0+ Media» представляет проект «Ми-ми-мишки» для лицензирования в следующий категориях потребительских товаров - одежда, обувь, игрушки, товары для дома, канцелярия, продукты питания и косметика, издательская продукция и т.д.</p>
            <p class="text">По вопросам приобретения лицензии на бренд «Ми-ми-мишки»: <a href="mailto:sales@0plusmedia.ru">sales@0plusmedia.ru </a> , +7-495-988-73-37</p>
            <p class="text">Подробнее о Лицензионных возможностях 0+ MEDIA  <a href="#">здесь</a></p>
          </div>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
