src/jade/mult.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                .brand-logo.carusel-logo
                    div
                .links
                    // a(href="#")
                    //     span презентация pdf
                    // a(href="#")
                    //     span медиакит
                    a(href="http://www.multkanal.ru" target="_blank")
                        span www.multkanal.ru
                .text.crtext
                    span.text-black.bold «МУЛЬТ» 
                    span - крупнейший детский телеканал мультфильмов для самых маленьких.
                    p
                        span Ежедневно в эфире канала любимые всеми мультфильмы и мультсериалы: «Белка и Стрелка. Озорная семейка», «Маша и Медведь», «Лунтик», «Смешарики», «Фиксики», «Барбоскины» и многие другие.
                    p
                        span Телеканал 
                        span.text-black.bold «МУЛЬТ» 
                        span очень тщательно отбирает программный контент: в эфир попадают только полезные и добрые мультфильмы, соответствующие возрасту ребенка.
                .title-big «МУЛЬТ» ЭТО:
                .channel-ul
                    ul
                        li
                            p
                                span.text-channel-red 1-е МЕСТО 
                                span ПО ДОЛЕ И РЕЙТИНГУ СРЕДИ ВСЕХ ТЕМАТИЧЕСКИХ КАНАЛОВ В АУДИТОРИИ 4-39 ЛЕТ*
                        li
                            p
                                span.text-channel-red ПОЛМИЛЛИОНА ДЕТЕЙ
                                span , КОТОРЫЕ ЕЖЕДНЕВНО ЕГО СМОТРЯТ
                        li
                            p
                                span.text-channel-red 93 МИНУТЫ 
                                span В СРЕДНЕМ ЗРИТЕЛИ ПРОВОДЯТ У ЭКРАНА КАНАЛА
                        li
                            p
                                span.text-channel-red БОЛЕЕ 100 ШЕДЕВРОВ 
                                span РОССИЙСКОЙ АНИМАЦИИ ЕЖЕДНЕВНО
                    p.footnote *Источник: TNS Russia, проект TV Index Plus, Россия (совокупность городов 100 000+), пиплметровые измерения, март 2015, население 4+.
                .video
                    .big-vid
                        iframe(iframe width="95%" height="100%" src="https://www.youtube.com/embed/7_ehR8EkqKM" frameborder="0" allowfullscreen)
                .contact-info
                    p 
                        span ПО ВОПРОСАМ РАЗМЕЩЕНИЯ РЕКЛАМЫ НА КАНАЛЕ: 
                        a.email(href="mailto:sales@0plusmedia.ru") SALES@0PLUSMEDIA.RU
                        span ,
                        a.phone(href="tel:+74959887337") +7-495-988-73-37
                    p
                        span ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  
                        a.email(href="mailto:contact@0plusmedia.ru") CONTACT@SIGNELMEDIA.RU
                        span ,
                        a.phone(href="tel:+74956209836") +7-495-620-98-36
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade

mult.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="brand-logo carusel-logo">
          <div></div>
        </div>
        <div class="links">
          <!-- a(href="#")-->
          <!--     span презентация pdf-->
          <!-- a(href="#")-->
          <!--     span медиакит--><a href="http://www.multkanal.ru" target="_blank"><span>www.multkanal.ru</span></a>
        </div>
        <div class="text crtext"><span class="text-black bold">«МУЛЬТ» </span><span>- крупнейший детский телеканал мультфильмов для самых маленьких.</span>
          <p><span>Ежедневно в эфире канала любимые всеми мультфильмы и мультсериалы: «Белка и Стрелка. Озорная семейка», «Маша и Медведь», «Лунтик», «Смешарики», «Фиксики», «Барбоскины» и многие другие.</span></p>
          <p><span>Телеканал </span><span class="text-black bold">«МУЛЬТ» </span><span>очень тщательно отбирает программный контент: в эфир попадают только полезные и добрые мультфильмы, соответствующие возрасту ребенка.</span></p>
        </div>
        <div class="title-big">«МУЛЬТ» ЭТО:</div>
        <div class="channel-ul">
          <ul>
            <li>
              <p><span class="text-channel-red">1-е МЕСТО </span><span>ПО ДОЛЕ И РЕЙТИНГУ СРЕДИ ВСЕХ ТЕМАТИЧЕСКИХ КАНАЛОВ В АУДИТОРИИ 4-39 ЛЕТ*</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">ПОЛМИЛЛИОНА ДЕТЕЙ</span><span>, КОТОРЫЕ ЕЖЕДНЕВНО ЕГО СМОТРЯТ</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">93 МИНУТЫ </span><span>В СРЕДНЕМ ЗРИТЕЛИ ПРОВОДЯТ У ЭКРАНА КАНАЛА</span></p>
            </li>
            <li>
              <p><span class="text-channel-red">БОЛЕЕ 100 ШЕДЕВРОВ </span><span>РОССИЙСКОЙ АНИМАЦИИ ЕЖЕДНЕВНО</span></p>
            </li>
          </ul>
          <p class="footnote">*Источник: TNS Russia, проект TV Index Plus, Россия (совокупность городов 100 000+), пиплметровые измерения, март 2015, население 4+.</p>
        </div>
        <div class="video">
          <div class="big-vid">
            <iframe iframe="iframe" width="95%" height="100%" src="https://www.youtube.com/embed/7_ehR8EkqKM" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <div class="contact-info">
          <p> <span>ПО ВОПРОСАМ РАЗМЕЩЕНИЯ РЕКЛАМЫ НА КАНАЛЕ: </span><a href="mailto:sales@0plusmedia.ru" class="email">SALES@0PLUSMEDIA.RU</a><span>,</span><a href="tel:+74959887337" class="phone">+7-495-988-73-37</a></p>
          <p><span>ПО ВОПРОСАМ ПОДКЛЮЧЕНИЯ И ТРАНСЛЯЦИИ КАНАЛА:  </span><a href="mailto:contact@0plusmedia.ru" class="email">CONTACT@SIGNELMEDIA.RU</a><span>,</span><a href="tel:+74956209836" class="phone">+7-495-620-98-36</a></p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>
