specpre.html
<!DOCTYPE html5>
<html> 
  <head>
    <title> </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="templates/corporate/js/build.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <link href="templates/corporate/css/style.min.css" rel="stylesheet"/>
  </head>
  <body> 
    <div class="layout">
      <div class="header">
        <div id="sandwich"></div><a href="/" class="logo"></a>
        <div id="buffer">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a>
            <!--a.email(href="mailto:sales@0plusmedia.ru") sales@0plusmedia.ru-->
          </div>
        </div>
        <div class="menu-box">
          <ul id="menu1" class="menu hidden">
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Продажа рекламы</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Продажа лицензии</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <p class="title-big">Спецпроекты</p><a class="mediakit"><span>МЕДИАКИТ</span></a>
        <div class="setka special">
          <p class="degre">360&deg;</p><a href="#" class="one">
            <div class="img img-special"></div>
            <div class="t"><span>Продажа лицензий</span></div></a>
          <p class="clear"></p><a href="#" class="two">
            <div class="img a-license"></div>
            <div class="t"><span>Продажа контента</span></div></a>
          <p class="clear specIpad"></p><a href="#" class="three">
            <div class="img img_distribution"></div>
            <div class="t"><span>Создание продукта</span></div></a>
          <p class="clear"></p><a href="#" class="four">
            <div class="img img-special"></div>
            <div class="t"><span>Реклама продукта</span></div></a>
          <p class="clear"></p><a href="#" class="five">
            <div class="img a-license"></div>
            <div class="t"><span>Мероприятия</span></div></a>
          <p class="clear"></p><a href="#" class="six">
            <div class="img img-a"></div>
            <div class="t"><span>Маркетинг продукта</span></div></a>
          <p class="clear"></p><a href="#" class="seven">
            <div class="img img-special"></div>
            <div class="t"><span>Продажи продукта</span></div></a>
          <p class="clear"></p><a href="#" class="nine">
            <div class="img img-a"></div>
            <div class="t"><span>Создание контента</span></div></a>
          <p class="clear"></p><a href="#" class="ten">
            <div class="img img_distribution"></div>
            <div class="t"><span>Продвижение в медиа</span></div></a>
          <p class="clear"></p><a href="#" class="eight">
            <div class="img a-license"></div>
            <div class="t"><span>Монитизация онлайн</span></div></a>
          <p class="clear"></p>
        </div>
        <!-- ul.text-uppercase.list.listTre-->
        <!--     li Уникальная база ресурсов-->
        <!--     li Комплексное продвижение бренда-->
        <!--     li Охват всех сфер интересов детской аудитории-->
        <!--     li Всех каналы коммуникации для достижения максимального результата-->
        <div class="speclist">
          <p class="specpre1">Уникальная база ресурсов</p>
          <p class="specpre2">Комплексное продвижение бренда</p>
          <p class="specpre3">Охват всех сфер интересов детской аудитории</p>
          <p class="specpre1">Всех каналы коммуникации для достижения максимального результата</p>
        </div>
        <div class="sideBar">
          <p>тв каналы</p>
          <ul>
            <li><a href="#">мульт</a></li>
            <li><a href="#">мама</a></li>
            <li><a href="#">карусель</a></li>
            <li><a href="#">ани</a></li>
          </ul>
          <div class="clear"></div>
          <p>бренды</p>
          <ul>
            <li><a href="#">аркадий паровозов</a></li>
            <li><a href="#">мимимишки</a></li>
            <li><a href="#">бумажки</a></li>
            <li><a href="#">волшебный фонарь</a></li>
          </ul>
          <!-- ul-->
          <!--     li.mult_small(style="background-image: url('/templates/corporate/images/mult_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mama_small(style="background-image: url('/templates/corporate/images/mama_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.carusel_small(style="background-image: url('/templates/corporate/images/carusel_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.ani_small(style="background-image: url('/templates/corporate/images/ani_small.png')")-->
          <!--         a(href="#")-->
          <!-- .clear-->
          <!-- p бренды-->
          <!-- ul-->
          <!--     li.arcadiy_small(style="background-image: url('/templates/corporate/images/arkadiy_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.mishki_small(style="background-image: url('/templates/corporate/images/mishki_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.papers_small(style="background-image: url('/templates/corporate/images/papers_small.png')")-->
          <!--         a(href="#")-->
          <!--     li.magiclight_small(style="background-image: url('/templates/corporate/images/magiclight_small.png')")-->
          <!--         a(href="#")-->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="layout">
        <div class="contacts">
          <div><a href="tel:+74959887337" class="phone">8 (495) 988-73-37</a><a href="mailto:sales@0plusmedia.ru" class="email">sales@0plusmedia.ru</a></div>
        </div>
        <div class="cat"></div><a href="/" class="logo"></a>
        <div class="menu-box">
          <ul class="menu">
            <li><a href="#"> 
                <div class="menu-icon-a"></div><span>Реклама</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-ruble"></div><span>Лицензия</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-globe"></div><span>Дистрибуция контента</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-360"></div><span>Спецпроекты</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-about"></div><span>О нас</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-news"></div><span>Новости</span></a></li>
            <li><a href="#"> 
                <div class="menu-icon-contacts"></div><span>Контакты</span></a></li>
          </ul>
        </div>
        <div class="banners">
          <p>При поддержке:</p><a href="#" class="vgtrk"><img src="/templates/corporate/images/footer_logoVGTRK.png"/></a><a href="#" class="llt"><img src="/templates/corporate/images/footer_logoCT.png"/></a>
        </div>
      </div>
    </div>
  </body>
</html>

src/jade/specpre.jade
include ./blocks/head.jade
        div.layout
            include ./blocks/header.jade
            .content
                p.title-big Спецпроекты
                a.mediakit
                    span МЕДИАКИТ
                div.setka.special
                    p.degre 360&deg;
                    a.one(href="#")
                        .img.img-special
                        div.t
                            span Продажа лицензий
                    p.clear
                    a.two(href="#")
                        .img.a-license
                        div.t
                            span Продажа контента
                    p.clear.specIpad
                    a.three(href="#")
                        .img.img_distribution
                        div.t
                            span Создание продукта
                    p.clear
                    a.four(href="#")
                        .img.img-special
                        div.t
                            span Реклама продукта
                    p.clear
                    a.five(href="#")
                        .img.a-license
                        div.t
                            span Мероприятия
                    p.clear
                    a.six(href="#")
                        .img.img-a
                        div.t
                            span Маркетинг продукта
                    p.clear
                    a.seven(href="#")
                        .img.img-special
                        div.t
                            span Продажи продукта
                    p.clear
                    
                    a.nine(href="#")
                        .img.img-a
                        div.t
                            span Создание контента
                    p.clear
                    a.ten(href="#")
                        .img.img_distribution
                        div.t
                            span Продвижение в медиа
                    p.clear
                    a.eight(href="#")
                        .img.a-license
                        div.t
                            span Монитизация онлайн
                    p.clear
                            
                // ul.text-uppercase.list.listTre
                //     li Уникальная база ресурсов
                //     li Комплексное продвижение бренда
                //     li Охват всех сфер интересов детской аудитории
                //     li Всех каналы коммуникации для достижения максимального результата
                .speclist
                    p.specpre1 Уникальная база ресурсов
                    p.specpre2 Комплексное продвижение бренда
                    p.specpre3 Охват всех сфер интересов детской аудитории
                    p.specpre1 Всех каналы коммуникации для достижения максимального результата
                include ./blocks/leftmenu.jade
        include ./blocks/footer.jade  
